{% extends 'base.html' %}

{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}  

<div class = "h-screen flex flex-col items-center justify-center">
    
    <h1 class="block text-black-1000 text-xl font-bold mb-2">Formulir Registrasi</h1>  

        <form method="POST" class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-4">  
            {% csrf_token %}  
             
               
            <table class="bg-red">
                {{ form.as_table }} 
            </table>

             
                 
                

            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Register
            </button>
             
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}