{% extends 'base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function deleteTask(id) {
            $.ajax({
                url: '/todolist/delete/' + id,
                data: {
                    'id': id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        $("#task-" + id).remove();
                        alert("Task will be deleted.");
                    }
                }
            });

    }

    $(document).ready(function(){
        $.getJSON("{% url 'todolist:show_json' %}", function(data) {
            var grid = [];
            $.each(data, function(index, value) {
                var cards = [];
                var content = [];
                var status = ""
                if ((value.fields.is_finished)){
                    status = "Selesai";
                } else {
                    status = "Belum Selesai"
                }
                content.push("<p class='text-gray-600'>" + value.fields.date + "</p>");
                content.push(`
                    <div class="mb-8"> 
                        <div class="text-gray-900 font-bold text-xl mb-2">` + 
                            value.fields.title +
                        `</div>
                        <p class="text-gray-700 text-base">` +
                            value.fields.description+
                        `</p>
                    </div>
                `);
                content.push(`
                    <div class=" flex flex-col items-end ">
                        <div class="text-sm ">
                            <p class="text-gray-900 leading-none">` + 
                                status +
                            `</p>
                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                    <a href="/todolist/update/` + value.pk + `">Update</a>
                            </button>
                            <button onClick="deleteTask(${value.pk})" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                Delete
                            </button>
                        </div>
                    </div>` 
                );
                cards.push(`
                    <div class="w-full" id="task-`+ value.pk +`">
                        <div class="h-20 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"></div>
                        <div class="border-r border-b border-l border-gray-400 lg:border-l lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal hover:bg-gray-100 text-white font-bold py-2 px-4">
                    ` + content.join("") + 
                    `
                        </div>
                    </div>       
                    `
                );
                grid.push(cards.join(""));
            });

            $("#todolist-cards").html(grid.join(""));
        });
        $("#add-task").click(function() {
            $("#my-modal").attr("style", "display:block");
        });
        $("#close-modal").click(function() {
            $("#my-modal").attr("style", "display:none");
        });
        $("#task-form").submit(function(e){
            e.preventDefault();
            $("#add-btn").prop('disabled', true);
            $("#add-btn").text('Processing...');
            var $form = $(this);
            var serializedData = $form.serialize();
            $.ajax({
                url: "{% url 'todolist:add_task' %}",
                type: "POST",
                data: serializedData,
                dataType: 'json',
                success: function (data) {
                    if (data.error) {
                        $("#add-btn").prop('disabled', false);
                        $("#add-btn").text('Submit');
                    }else{
                        $("#add-btn").prop('disabled', false);
                        $("#add-btn").text('Submit');        
                        $("#my-modal").attr("style", "display:none");
                        $.getJSON("{% url 'todolist:show_json' %}", function(data) {
                            var grid = [];
                            $.each(data, function(index, value) {
                                var cards = [];
                                var content = [];
                                var status = ""
                                if ((value.fields.is_finished)){
                                    status = "Selesai";
                                } else {
                                    status = "Belum Selesai"
                                }
                                content.push("<p class='text-gray-600'>" + value.fields.date + "</p>");
                                content.push(`
                                    <div class="mb-8"> 
                                        <div class="text-gray-900 font-bold text-xl mb-2">` + 
                                            value.fields.title +
                                        `</div>
                                        <p class="text-gray-700 text-base">` +
                                            value.fields.description+
                                        `</p>
                                    </div>
                                `);
                                content.push(`
                                    <div class=" flex flex-col items-end ">
                                        <div class="text-sm ">
                                            <p class="text-gray-900 leading-none">` + 
                                                status +
                                            `</p>
                                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                    <a href="/todolist/update/` + value.pk + `">Update</a>
                                            </button>
                                            <button onClick="deleteTask(${value.pk})" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                                Delete
                                            </button>
                                        </div>
                                    </div>` 
                                );
                                cards.push(`
                                    <div class="w-full" id="task-`+ value.pk +`">
                                        <div class="h-20 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"></div>
                                        <div class="border-r border-b border-l border-gray-400 lg:border-l lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal hover:bg-gray-100 text-white font-bold py-2 px-4">
                                    ` + content.join("") + 
                                    `
                                        </div>
                                    </div>       
                                    `
                                );
                                grid.push(cards.join(""));
                            });

                            $("#todolist-cards").html(grid.join(""));
                        });
                    }
                }
            });
        });
    });
</script>


    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
            <a href="#" class="flex items-center">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">ToDoList</span>
            </a>
            <div class="flex items-center">
                <a href="#" class="mr-6 text-sm font-medium text-gray-500 dark:text-white hover:underline">{{ username_login }}</a>
                <a href="{% url 'todolist:logout' %}" class="text-sm font-medium text-red-600 dark:text-red-500 hover:underline">Logout</a>
            </div>
        </div>
    </nav>
    <nav class="bg-gray-50 dark:bg-gray-700">
        <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
            <div class="flex items-center">
                <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                    <li>
                        <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Tasks</a>
                    </li>
                    <li>
                        <!-- <a href="{% url 'todolist:create_task' %}" class="text-gray-900 dark:text-white hover:underline">Add Task</a> -->
                        <button id="add-task" class="text-gray-900 dark:text-white hover:underline">Add Task</button>

                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>


<div id="todolist-cards" class="h-auto flex flex-col items-center justify-center p-2 lg:grid grid-cols-3 gap-3">

    
            {% for task in tasks%}
            
            <div class="w-full ">
                <div class="h-20 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
                </div>
                <div class="border-r border-b border-l border-gray-400 lg:border-l lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal hover:bg-gray-100 text-white font-bold py-2 px-4">
                    <p class="text-gray-600">{{task.date}}</p>
                    <div class="mb-8">
                        <div class="text-gray-900 font-bold text-xl mb-2">{{task.title}}</div>
                        <p class="text-gray-700 text-base">{{task.description}}</p>
                    </div>
                    <div class=" flex flex-col items-end ">
                        <div class="text-sm ">
                            <p class="text-gray-900 leading-none">{% if task.is_finished %} Selesai {% else %} Belum Selesai {% endif %}</p>
                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                <a href="/todolist/update/{{task.id}}">Update</a>
                            </button>
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                <a href="/todolist/delete/{{task.id}}">Delete</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
     
    <hr>
    
</div>


<div
	class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
	id="my-modal">
<!--modal content-->
<div
	class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
	<div class="mt-3 text-center">
        
            <button id="close-modal"type="button" class="flex justify-end bg-white rounded-md p-2 text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <span class="sr-only">Close menu</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
       
		<form method="POST" id="task-form">
            {% csrf_token %}
            <label for="title" class="text-gray-500">Title</label>
            <br>
            {{ form.title }}
            
            <br>

            <label for="description" class="text-gray-500">Description</label>

            {{form.description}}

            <br>
            <br>
            <button
                type="submit"
				id="add-btn"
				class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
			>
				Add
			</button>
        </form>
			
		</div>
	</div>
</div>
</div>

{% endblock content %}