{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h1>To-Do List</h1>
    <h5>Current User: {{ username_login }}</h5>
    <button><a href="{% url 'todolist:create_task' %}">Create Task</a></button>
    <table class="table">
        <thead>
            <tr>
                <th>Date created</th>
                <th>Task</th>
                <th>Description</th>
                <th>Status</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
    
        <tbody>
            {% for task in tasks%}
            <tr>
                <td>{{task.date}}</td>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{% if task.is_finished %} Selesai {% else %} Belum Selesai {% endif %}</td>
                <td><button><a href="/todolist/update/{{task.id}}">Update</a></button></td>
                <td><button><a href="/todolist/delete/{{task.id}}">Delete</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
</div>

{% endblock content %}